<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style/details.css" />
  </head>
  <body>
    <div
      style="
        display: flex;
        background-color: #3366ff;
        padding: 0 30px;
        justify-content: space-between;
      "
    >
      <div>
        <div style="display: flex; cursor: pointer">
          <img
            src="https://www.freeiconspng.com/thumbs/white-arrow-png/white-arrow-transparent-png-22.png"
            style="
              width: 40px;
              height: 35px;
              transform: rotate(180deg);
              margin-top: 15px;
            "
          />
          <a href="/main-page" style="text-decoration: none"
            ><h2 style="color: #fff">Quay lại</h2></a
          >
        </div>
        <h1 style="color: #fff">Diễn đàn tiếng Việt thông minh</h1>
      </div>
      <div style="margin-right: 30px">
        <div style="display: flex; align-items: center">
          <img
            src="https://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png"
            style="width: 40px; height: 40px; margin-right: 10px"
          />
          <h2 style="color: #fff; margin-right: 10px; cursor: pointer">
            Họ và tên
          </h2>
        </div>
        <div style="display: flex; align-items: center">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/OOjs_UI_icon_logOut-ltr-invert.svg/1024px-OOjs_UI_icon_logOut-ltr-invert.svg.png"
            style="width: 40px; height: 40px; margin-right: 10px"
          />
          <a href="#" style="text-decoration: none"
            ><h2 style="color: #fff; cursor: pointer">Đăng xuất</h2></a
          >
        </div>
      </div>
    </div>
    <div class="top-component">
      <div style="display: flex; flex-direction: column; flex-wrap: wrap">
        <form method="post">
          <textarea
            placeholder="Nhập vào đoạn văn"
            rows="20"
            name="comment_text"
            id="comment_text"
            cols="40"
            class="ui-autocomplete-input"
            autocomplete="off"
            role="textbox"
            aria-autocomplete="list"
            aria-haspopup="true"
          ></textarea>
          <button type="submit" class="send">Gửi</button>
        </form>
      </div>
      <div class="search-container">
        <form action="/action_page.php">
          <input
            class="search"
            type="text"
            placeholder="Tìm kiếm..."
            name="search"
          />
          <button class="search-btn" type="submit">Tìm kiếm</button>
        </form>
      </div>
    </div>
    <div class="bottom-component">
      {% for p in posts %}
      <div
        class="article-wrapper"
        style="
          display: block;
          padding: 20px;
          border: 2px solid #cccccc;
          border-radius: 10px;
          margin-bottom: 10px;
        "
      >
        <h2 style="font-size: 35px; margin-bottom: -27px">{{p[1]}}</h2>
        <h5 style="font-size: 20px; font-weight: 300; margin-bottom: -27px">
          {{p[4]}}
        </h5>
        <h5 style="font-size: 20px; font-weight: 300; margin-bottom: -5px">
          {{p[3]}}
        </h5>
        <p style="
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 24px;
      " >{{p[2]}}</p>
        <div
          style="
            margin-top: -10px;
            cursor: pointer;
            width: 100px;
            background-color: green;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 1px 0px;
            height: 40px;
            border-radius: 10px;
          "
        >
          <h3 style="margin-top: 8px; color: #fff" id="modalBtn">Xem thêm</h3>
        </div>
      </div>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="article-wrapper" style="display: block; padding: 20px">
            <h2 style="font-size: 35px; margin-bottom: -27px">Ho va Ten</h2>
            <h5 style="font-size: 20px; font-weight: 300; margin-bottom: -27px">
              Ngay thang/The loai
            </h5>
            <h5 style="font-size: 20px; font-weight: 300; margin-bottom: -5px">
              Ngay thang/The loai
            </h5>
            <p
              style="
                display: -webkit-box;
                max-width: 100%;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 24px;
              "
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu
              pharetra erat. Donec finibus quam quis dui consequat, eu molestie
              odio fringilla. Vestibulum sit amet suscipit purus. Cras id
              convallis magna. Nulla faucibus nunc ullamcorper risus vestibulum,
              eu laoreet velit rhoncus. Mauris a congue dolor. Ut pellentesque
              efficitur lobortis. Suspendisse sed viverra augue. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Nulla eu pharetra
              erat. Donec finibus quam quis dui consequat, eu molestie odio
              fringilla. Vestibulum sit amet suscipit purus. Cras id convallis
              magna. Nulla faucibus nunc ullamcorper risus vestibulum, eu
              laoreet velit rhoncus. Mauris a congue dolor. Ut pellentesque
              efficitur lobortis. Suspendisse sed viverra augue.
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
  <script src="../static/script/modal.js"></script>
</html>
