<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style/styles.css" />
  </head>
  <body>
    <h1 style="background-color: #3366ff; color: #fff; padding: 15px">
      Diễn đàn tiếng Việt thông minh
    </h1>
    <div class="top-component">
      <div style="display: flex; flex-direction: column; flex-wrap: wrap">
        <form method="post">
            <textarea
            placeholder="Nhập vào đoạn văn"
            rows="20"
            name="comment_text"
            id="comment_text"
            cols="40"
            class="ui-autocomplete-input"
            autocomplete="off"
            role="textbox"
            aria-autocomplete="list"
            aria-haspopup="true"
            ></textarea>
            <button type="submit" class="send">Gửi</button>
        </form>
      </div>
      <div class="search-container">
        <form action="/action_page.php">
          <input
            class="search"
            type="text"
            placeholder="Tìm kiếm..."
            name="search"
          />
          <button class="search-btn" type="submit">Tìm kiếm</button>
        </form>
      </div>
    </div>
    <div class="bottom-component">
      <div class="row">
        <div class="column">
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Công nghệ</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Du lịch</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Giáo dục</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Giải trí</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Kinh doanh</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>

          <div class="dropdown">
            <a href="#" class="notification">
              <span>Nhịp sống</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Phim ảnh</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Pháp luật</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Sống trẻ</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Sức khoẻ</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Thế giới</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Thể thao</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Thời sự</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Thời trang</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Xe 360</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Xuất bản</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Âm nhạc</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="notification">
              <span>Ẩm thực</span>
              <span class="badge">3</span>
            </a>
            <div class="dropdown-content">
              <p>Hello World!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
